@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-white;
  }

  .background-blur::after,
  .background-blur::before {
    @apply absolute w-[235px] h-[355px] rounded-full blur-[220px];
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.mySwiper > .swiper-wrapper > .swiper-slide {
  max-width: 250px;
}

.swiper-wrapper {
  padding-bottom: 50px;
}

.swiper-pagination-bullet {
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  width: 25px !important;
}

:root {
  --swiper-pagination-color: #fd346e;
  --swiper-pagination-bullet-inactive-color: #351b2b;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-width: 11px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}

.bg-header {
  background-image: url("../../public/layer.png");
  background-position: center;
  background-size: contain;
}
